* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1e1e2f;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

/* Game Area */
/* Game Area */
#gameArea {
    position: relative;
    width: 400px;
    height: 600px;
    background-color: #333;
    border: 2px solid #444;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
}

/* Player */
#player {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('airplane_11532188.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* Bullet */
.bullet {
    position: absolute;
    width: 6px;
    height: 20px;
    background-color: #ffeb3b;
    border-radius: 3px;
}

/* Enemy */
.enemy {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url('plane_4110419.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/* Score Board */
#scoreBoard {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 20px;
    color: #ffffff;
}

/* Buttons */
#pauseButton, #quitButton {
    position: absolute;
    top: 15px;
    padding: 8px 12px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #ff5722;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

#pauseButton {
    right: 85px;
    background-color: #ff5722;
}

#pauseButton:hover {
    background-color: #e64a19;
}

#quitButton {
    right: 20px;
    background-color: #d32f2f;
}

#quitButton:hover {
    background-color: #c62828;
}

